PORT=8080
NODE_ENV=development
DATABASE_URL="mysql://root:password@localhost:3306/estudy_db"
JWT_SECRET="EstudySecretKeyForJWTSignatureGeneration32BytesLong!"
JWT_EXPIRES_IN="24h"
CORS_ORIGIN="http://localhost:5173,http://localhost:3000"
